
<!DOCTYPE html>

<html ng-app xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <ul>
        <li>
            印旛沼のモニタリングとカレンダー
            <a href="http://data01.x-ability.jp/FieldRouter/vbox0116/">リンク</a>
            <a href="">グラフへのリンク</a>


            <h3>印旛沼1</h3>
            <a href="http://data01.x-ability.jp/cgi-bin/FieldRouter/imageIndex.cgi?dir=/FieldRouter/vbox0115&device=image0&addr=webcam0">カレンダー</a>
            <a href="http://data01.x-ability.jp/cgi-bin/FieldRouter/showDecagon.cgi?dir=/FieldRouter/vbox0115&device=inba1&date=20131010&full=full">グラフ</a>
            <h3>印旛沼2</h3>
            <a href="http://data01.x-ability.jp/cgi-bin/FieldRouter/imageIndex.cgi?dir=/FieldRouter/vbox0116&device=image0&addr=webcam0">カレンダー</a>
            <a href="http://data01.x-ability.jp/cgi-bin/FieldRouter/showDecagon.cgi?dir=/FieldRouter/vbox0116&device=inba2&date=20131010&full=full">グラフ</a>

            <h3>愛知</h3>
            <a href="">カレンダー</a>
            <a href="">グラフ</a>


        </li>

        <li>イベントマップ</li>
        <li>会場周辺のバッタなどの生き物</li>
        <li>アプリへのリンク(Androidのみ)</li>


    </ul>

    <a href="http://inba-numa.com/fair/index.html">イベントHP</a>


</body>
</html>