@(message: String)

@scripts = {

<script type="text/javascript">

    function TopPageController($scope, $http) {
        $http.get('/management/recent').success(function(data) {
        $scope.inquiries = data;
        });

        }

        $(document).ready(function(){
        $("#mytable").tablesorter();
    });
</script>

}

@main("Top page1",scripts) {

    <div ng-controller="TopPageController">



        <table id="mytable" class="tablesorter table table-hover">
            <thead>
                <tr><th>ID</th><th>問い合わせ</th><th>担当</th><th>カテゴリ</th><th>ステータス</th></tr>
            </thead>
            <tbody>

                <tr ng-repeat="i in inquiries" >
                    <td><a href="/management/post/detail/{{i.id}}">{{i.id}} 編集</a></td>
                    <td>{{i.user.name}}</td>
                    <td>{{i.inCharge}}</td>
                    <td>{{i.category}}</td>
                    <td>{{i.postStatus}}</td>
                </tr>

            </tbody>
        </table>


    </div>

}
