@(message: String)

@main("Top page1") {
    function TopPageController($scope, $http) {
        $http.get('/management/recent').success(function(data) {
            $scope.inquiries = data;
        });

    }

    $(document).ready(function(){
        $("#mytable").tablesorter();
    });
}{

    <div ng-controller="TopPageController">



        <table id="mytable" class="tablesorter">
            <thead>
                <tr><th>id</th><th>title</th></tr>
            </thead>
            <tbody>

                <tr ng-repeat="i in inquiries" ><td><a href="/management/post/detail/{{i.id}}">{{i.id}}</a></td><td>{{i.title}}</td></tr>

            </tbody>
        </table>


    </div>

}
