@(errorMessage : String, addPostForm : Form[_], selections : controllers.management.EditPost.Selections)

@implicitFieldConstructor = @{ helper.FieldConstructor(views.html.twitterBootstrapInput.f) }
@scripts = {


}

@main("AddInquiry",scripts) {

    <div>@errorMessage</div>

    @helper.form(action = management.routes.EditPost._addPost, 'class -> "form-horizontal"){

@helper.select(addPostForm("category"),selections.categories,'class -> "form-control")
@helper.select(addPostForm("postUserId"),selections.users,'class -> "form-control")
@helper.textarea(addPostForm("comment"))
        <hr />

@helper.select(addPostForm("inCharge"),selections.managers,'class -> "form-control")
@helper.select(addPostForm("postStatus"),selections.postStatuses,'class -> "form-control")

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="登録"  class="btn btn-success"/>
    </div>
</div>
    }


}
