@(tableId : String,posts : List[UserPost],from : Option[String] = None)

<table id="@tableId" class="table table-striped table-bordered">
    <thead>
        <tr><th>ID</th><th>問い合わせ</th></th><th>担当</th><th>カテゴリ</th><th>ステータス</th><th>評価</th><th>編集</th></tr>
    </thead>
    <tbody>
    @for( post <- posts){
    <tr>
        <td>@{post.id.get}</td>
        <td>@post.postUser.obj.get.nickname.get</td>
        <td>@post.inCharge.obj.map(_.nickname.get).getOrElse("non")</td>
        <td>@post.category.obj.map(_.label).getOrElse("none")</td>
        <td>@post.postStatus.obj.map(_.label).getOrElse("none")</td>
        <td>@post.goodness.get</td>
        <td><a href="@{management.routes.EditPost.editPost(0).url.stripSuffix("0") + post.id.get + from.map(s => "?from=" + s).getOrElse("")}">詳細</a></td>
    </tr>
    }
    </tbody>
</table>