

.background{
    background-color:#FAECBB;
}
.border {
    background-color:#DBD9B3;
}

.title {
    border : 1px solid #DBD9B3;
    background-color:#FFFFFF;
}

.grid {
    border-radius: 5px;
    border: 5px solid #DBD9B3;
    background-color:#FFFFFF;
}


.map_area{
    width : 50%;
    height : 500px;
    float : right;
}