

.background{
    background-color:#99FFFF;
}
.border {
    background-color:#00BFBF;
}

.title {
    border : 1px solid #DBD9B3;
    background-color:#FFFFFF;
}

.grid {
    border-radius: 5px;
    border: 5px solid #00BFBF;
    background-color:#eeFFFF;
}


.map_area{
    width : 50%;
    height : 500px;
    float : right;
}